@import "tailwindcss";

:root {
  background-size: 20px 20px;
  background-color: #06070a;
  background-image:
      linear-gradient(rgba(92, 92, 92, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(92, 92, 92, 0.05) 1px, transparent 1px);
  font-family: 'IBM Plex Sans', 'Work Sans', 'Space Grotesk',
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    color: white
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono', 'Source Code Pro', monospace;
  font-weight: 200;
  color: #fff;
}


p {
 color: #a5a5a5;
}