@import "tailwindcss";

:root {
  background-size: 20px 20px;
  background-color: #e7eaf5;
  /* very light bluish-white background */
  background-image:
    linear-gradient(rgba(0, 0, 50, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 50, 0.02) 1px, transparent 1px);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 300;
    /* light */
  }

  